<template>
    <div class="container">
        <h2 class="text-center">CADASTRAR VENDEDOR</h2>
        <div class="row">
            <div class="col-md-12">
                <router-link :to="{ name: 'VendedorCreate' }" class="btn btn-primary btn-sm float-right mb-2">VOLTAR</router-link>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" class="form-control" v-model="vendedor.nome">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" v-model="vendedor.email">
                    </div>
                    <button type="button" class="btn btn-primary" @click="createVendedor()">ENVIAR</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                vendedor: {}
            }
        },
        methods: {
            createVendedor() {
                this.axios.post('http://localhost:8081/api/vendedores', this.vendedor)
                    .then(response => (
                        this.$router.push({ name: 'VendedorIndex' })
                    ))
                    .catch(err => console.log(err))
                    .finally(() => this.loading = false)
            }
        }
    }
</script>
