<template>
    <div class="container">
        <h2 class="text-center">RELAÇÃO DE VENDEDORES</h2>
        <div class="row">
            <div class="col-md-12">
                <router-link :to="{ name: 'VendedorCreate' }" class="btn btn-primary btn-sm float-right mb-2">CADASTRAR VENDEDOR</router-link>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Comissao</th>

                    </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(vendedor) of vendedores" vendedor :key="vendedor.id">
                            <td>{{ vendedor.id }}</td>
                            <td>{{ vendedor.nome }}</td>
                            <td>{{ vendedor.email }}</td>
                            <td>{{ vendedor.comissao }}</td>

                            <td>
                                <router-link class="btn btn-success btn-sm" :to="{ name: 'VendedorVendaIndex', params: { id: vendedor.id }}">Vendas</router-link>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                vendedores: {}
            }
        },
        created() {
            this.getVendedor();
        },
        methods: {
            getVendedor() {
            this.axios.get('http://localhost:8081/api/vendedores')
                .then(response => {
                    this.vendedores = response.data;
                });
            },
        }
    }
</script>
