<template>
    <div class="container">
        <h2 class="text-center">CADASTRAR VENDA</h2>
        <div class="row">
            <div class="col-md-12">
                <router-link :to="{ name: 'VendaIndex' }" class="btn btn-primary btn-sm float-right mb-2">VOLTAR</router-link>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form>
                        <div class="form-group">
                            <label>NOME DO VENDEDOR:</label>
                            <select class='form-control' v-model='venda.vendedor_id'>
                                <option v-for='data in vendedores' :value='data.id' :key='data'>{{ data.nome }}</option>
                            </select>
                        </div>
                    <div class="form-group">
                        <label>VALOR DA VENDA</label>
                        <input type="text" class="form-control" v-money="money" v-model="venda.valor_venda">
                    </div>
                    <div class="form-group">
                    <button type="button" class="btn btn-primary" @click="createVenda()">ENVIAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                venda: {},
                vendedores: [],
                money: {
                    decimal: '.',
                    thousands: '',
                    prefix: '',
                    suffix: '',
                    precision: 2,
                    masked: false /* doesn't work with directive */
                }
            }
        },
        methods: {
            createVenda() {
                this.axios.post('http://localhost:8081/api/vendas', this.venda)
                    .then(response => (
                        this.$router.push({ name: 'VendaIndex' })
                    ))
                    .catch(err => console.log(err))
                    .finally(() => this.loading = false)
            },
            getVendedores: function(){
                axios.get('http://localhost:8081/api/vendedores')
                    .then(function (response) {
                        this.vendedores = response.data;
                    }.bind(this));
            },
        },
            created: function(){
            this.getVendedores()
        },
    }
</script>
