<template>
    <div class="container">
        <h2 class="text-center">RELAÇÃO DE VENDAS EFETUADAS</h2>
        <div class="row">
            <div class="col-md-12">
                <router-link :to="{ name: 'VendaCreate' }" class="btn btn-primary btn-sm float-right mb-2">CADASTRAR VENDA</router-link>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Vendedor</th>
                        <th>Valor Venda</th>

                    </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(venda, key) of vendas" :key='venda'>
                            <td>{{ key+1 }}</td>
                            <td>{{ venda.nome }}</td>
                            <td>{{ venda.valor_venda }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                vendas: {}
            }
        },
        created() {
            this.getVendas();
        },
        methods: {
            getVendas() {
              this.axios.get('http://localhost:8081/api/vendas')
                  .then(response => {
                      this.vendas = response.data;
                  });
            },
        }
    }
</script>
