<template>
  <div class="container">
    <h2 class="text-center">RELAÇÃO DE VENDAS DE VENDEDORES</h2>
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>id</th>
              <th>Nome</th>
              <th>E-mail</th>
              <th>Comissao</th>
              <th>Valor Venda</th>
              <th>Data Venda</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(venda, key) of vendas" :key="venda.id">
              <td>{{ key + 1 }}</td>
              <td>{{ venda.id }}</td>
              <td>{{ venda.nome }}</td>
              <td>{{ venda.email }}</td>
              <td>{{ venda.comissao }}</td>
              <td>{{ venda.valor_venda }}</td>
              <td>{{ venda.data_venda }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
 data() {
            return {
                vendas: {}
            }
        },
        created() {
            this.axios
                //.get('http://localhost:8081/api/vendedorvenda/${this.$route.params.id}')
                .get('http://localhost:8081/api/vendedorvenda')
                .then((res) => {
                    this.vendas = res.data;
                });
        },
};

</script>
